.heroContainer{
  display: flex;
  margin: 30px;
  justify-content: space-around;
  align-items: center;
  height: 30vw;
  font-size: x-large;

}

.rightHalf{
  display: flex;
 align-items: center;
 justify-content: center;
}

.imageGrid{
  display: flex;
  flex-direction: column;
}

.heroImageLarge, .heroImageSmall, .heroImageSmall{
  margin: 10px;
  width: 300px;
}

.heroImageLarge{
  border-radius: 20px;
}

.heroImageSmall{
  margin: 4px;
}

.leftHalf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroButton{
  padding: 20px;
  border-radius: 20px;
  background-color: green;
  border: none;
  font-size: 20px;
  color: white;
}

.heroButton:hover{
  background-color: #00897B;
}

.heading{
  font-size: 80px;
  margin-bottom: 7px;
}

.horizontalRule{
  margin-left: 80px;
  margin-right: 80px;
}
